 @import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background: rgb(9, 9, 9);
    margin: 0;
    padding: 0;
    
}
/* nav-bar content start from here  */

.header{
    width: 1440px;
    height: 715px;
    margin: 0 auto;
    background: black;
    opacity: 0.9;
    background-blend-mode: overlay;
    background: linear-gradient(180.00deg, rgb(28, 27, 27),rgba(105, 104, 104, 0) 100%);
}

.navigation{
    width: 1060px;
    height: 47px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 30px;
}

.navigation i{
    width: 132px;
    height: 43px;
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
}

.nav-content{
    width: 465px;
    height: 46px;
    list-style: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    gap: 55px;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

.nav-media{
    display: flex;
}
.nav-content-img{
    position: relative;
    right: 60px;
    bottom: 10px;
    display: none;
}

.nav-content li{
    text-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.home{
    width: 126px;
    height: 39px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
.home-content{
    width: 59px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 33px;
    font-size: 18px;
    font-weight: 600;
}


                                                                    /* banner-1 start from here  */
                                                                    /* .banner-1 start from here */
.banner-1{
    display: flex;
    gap: 88px;
}
.banner-1-content{
    width: 520px;
    height: 440px;
    margin-top: 96px;
    margin-left: 190px;
}

.banner-1-h1{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 1000;
}
.shape{
    font-family: "Dancing Script", cursive;
    font-size: 7rem;
}

.banner-1-p{
    height: 48px;
    color: rgba(255, 255, 255, 0.3);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
}

.banner-1-button{
    width: 462px;
    height: 54px;
    margin-top: 28px;
    display: flex;
    flex-direction: row ;
    gap: 14px;
}

.btn-join{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn-down{
    width: 224px;
    height: 54px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    border: 1px solid white;
    background: black;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.banner-1-image{
    width: 349px;
    height: 580px;
    margin: 53px 214px 0px 88px;
}

.banner-1-inner-img1{
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: relative;
    left: -100px;
    top: -160px;
}
.banner-1-inner-img1 h5{
    width: 68px;
    height: 24px;
    color: rgb(250, 250, 249);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin: 20px 63px 8px 75px;
}
.banner-1-inner-img1 p{
    width: 108px;
    height: 24px;
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 23px 20px 75px;
}
.banner-1-radius{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    position: relative;
    top: -68px;
    left: 20px;
}

.banner-1-inner-img2{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    left: 230px;
    top: -550px;

}

.banner-1-inner-img2 h4{
    width: 116px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin: 12px 53px 5px 24px;
}

.banner-1-inner-img2 p{
    width: 146px;
    height: 20px;
    color: rgba(255, 255, 255, 0.65);
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin: 8px 23px 16px 24px;
}


                                                                /* banner-2 style start from here   *
                                                                /* banner-2 style start from here  */
.banner-2{
    width: 1050px;
    height: 458px;
    margin: 0 auto;
    margin-top: 100px;

}
.banner-2-div1{
    width: 670px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    font-family: "Inter", sans-serif;

}
.banner-2-div1 h3{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 45px;
    font-weight: 900;
}

.banner-2-div1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-top: 14px;
}
.banner-2-div2{
    width: 100%;
    height: 318px;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}
.bnr2-img{
    width: 272px;
    height: 180px;
    margin-left: 35px;
}
.bnr2-img img{
    border: 1px solid white;
    border-radius: 50%;
}
.bnr2-img h5{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.bnr2-img p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    padding-top: 8px;
}
.bnr2-img-content{
    text-align: center;
    width: 231px;
    height: 64px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: -25px;
}


                                                                                            /* banner-3 style start from here */
                                                                                            /* banner-3 style start from here */

.banner-3{
    width: 1050px;
    height: 371px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 0 auto;
}        

.banner-3-div1 h3{
    width: 443px;
    height: 116px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 900;
    }
    .banner-3-div1 p{
    width: 400px;
    height: 72px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 19px;
    }
    .banner-3-btn{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;    
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    margin-top: 20px;
    border: none;
    }
    
    .banner-3-div2 img{
        margin-top: 10px;
        width: 390px;
        height: 300px;
        border-radius: 15px;
    }


    .bmi{
        width: 671px;
        height: 120px;
        margin: 0 auto;
        margin-top: 70px;
    }

    .bmi h1{
        width: 353px;
        height: 58px;
        color: rgb(255, 255, 255);
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-weight: 900;
    }
    .bmi p{
        width: 671px; 
        height: 48px;
        color: rgba(255, 255, 255, 0.5);
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
    }


                                                                                        /* bmi calculator section start from here */
                                                                                        /* bmi calculator section start from here */
.bmi-calculator{
    width: 1420px;
    height: 487px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-right: 90px;
    margin-top: 90px;
    gap: 100px;

}
.bmi-calculator-div1 h3{
    width: 443px;
    height: 34px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 900;
    padding: 52px 44px 52px 187px;
}
.bmi-chart{
    width: 310px;
    height: 216px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 175px 133px 189px;
}
.item{
    padding-top: 8px;
    padding-left: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.item h4{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.item p{
color: rgba(255, 255, 255, 0.5);
font-family: "Inter", sans-serif;
font-size: 14px;
font-weight: 400;
}

.bmi-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.bmi-calculator-div2{
    width: 577px;
    height: 386px;
}

.bmi-calculator-div2 h3{
    width: 443px;
    height: 34px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 900;
}
.bmi-calculator-div2 p{
    width: 577px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 25px;

}


.form-div{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}
.form-div1{
    width: 280px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 20px;
}

::placeholder{
    /* padding-left: 20px; */
    color: rgba(255, 255, 255, 0.6);
    padding-left: 20px;
}

.se{
    width:574px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    padding-left: 17px;
}

.bmi-calculator-div2-btn{
    width: 224px;
    height: 50px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    margin-top: 20px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.banner-4{
    width: 1060px;
    height: 782px;
    margin: 0 auto;
    margin-top: 88px;
}

.banner-4-div1{
    width: 671px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
}

.banner-4-div1 h1{
    width: 364px;
    height: 58px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 900;
    padding: 0px 153px 15px 153px;
}
.banner-4-div1 p{
    width: 671px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.banner-4-images{
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 30px;
    padding-left: 25px;
}

.banner-4-image-container{
    width: 326px;
    height: 272px;
    background-image:  url('../images/trainer1.png');
    background-size: 320px 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;

    
}
.banner-4-image-container1{
    width: 326px;
    height: 272px;
    background-image: url('../images/trainer2.png');
    background-size: 320px 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    
}
.banner-4-image-container2{
    width: 326px;
    height: 272px;
    background-image: url('../images/trainer3.png');
    background-size: 320px 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    
}
.banner-4-image-container3{
    width: 326px;
    height: 272px;
    background-image: url('../images/trainer4.png');
    background-size: 400px 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    
}
.banner-4-image-container4{
    width: 326px;
    height: 272px;
    background-image: url('../images/trainer5.png');
    background-size: 320px 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    
}
.banner-4-image-container5{
    width: 326px;
    height: 272px;
    background-image: url('../images/trainer6.png');
    background-size: 320px 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 18px;
    
}

.bnr-4-img-h5{
    width: 165px;
    height: 22px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 210px;
    margin-left: 20px;
}
.bnr-4-img-p{
    width: 28px;
    height: 22px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 20px;
}
.footer{
    width: 1515px;
    height: 489px;
    margin: 0 auto;
    margin-top: 88px;
    background: rgba(255, 255, 255, 0.1);
}
.footer-container{
    display: flex;
}
.footer-div{
    width: 1059px;
    height: 249px;
    display: flex;
    margin: 0 auto;
    margin-top: 66px;
    justify-content: space-between;

}
.footer-div1{
    width: 443px;
    height: 176px;
}
.footer-div1 i{
    width: 256px;
    height: 84px;
    font-family: "Inter", sans-serif;
    color: rgb(237, 71, 46);
    font-size: 70px;
    font-weight: 800;
}
.footer-div1 p{
    width: 430px;
    height: 72px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 25px;

}
.footer-2nd-div{
    display: flex;
    gap: 130px;
}
.footer-div2 > ul{
    margin-top: 40px;
    list-style: none;
}
.footer-div2 ul li{
    margin-bottom: 15px;
   
}
.footer-div3 ul li{
    margin-bottom: 15px;
}
.footer-div2, .footer-div3, h4{
    width: 181px;
    height: 38px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}
.footer-div2{
    width: 200px;
    height: 250px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    align-items: center;
}

.footer-div3 > ul{
    margin-top: 40px;
    list-style: none;
}

.footer-div3{
    width: 181px;
    height: 250px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 23px;
    font-weight: 400;
}

hr{
    width: 1070px;
    border: 2px solid rgba(141, 138, 138, 0.1);
    margin: 80px 189px 36px 220px;
}
.footer-p p{
    width: 318px;
    height: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0 auto;

}


                                                                                            /* media query start from here */
                                                                                            /* media query start from here */
@media screen and (max-width: 576px) {
    
    body{                                                          
        margin: 0;                                                                  
    }
    
    
    .header{
        width: 100%;
        height: 1086px;
        /* margin: 0; */
    }
    .banner-1{
        flex-direction: column;
        gap: 10px;
    }
    .navigation{
        width: 353px;
        height: 43px;
        padding-top: 40px;
    }
    .nav-content{
        display: none;
    }
    .nav-content-img{
        display: block;
        width: 50px;
        left: 3px;
        top: 1px;
    }
    #Fitness{
        width: 132px;
        height: 43px;
    }
    .banner-1-content{
        width: 352px;
        height: 335px;
        margin: 0 auto;
        margin: 50px 20px 48px 20px;
    }
    .banner-1-h1{
        width: 285px;
        height: 129px;
        color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        font-size: 26px;
        font-weight: 900;
        margin: 0 auto;
    }
    .shape{
        font-size: 3rem;
    }
    .banner-1-p{
        width: 274px;
        height: 96px;
        margin: 0 auto;
        margin-top: 28px;
    }
    .btn-join{
        width: 145px;
        height: 54px;
    }
    .btn-join-span{
        display: none;
    }
    .btn-down{
        width: 145px;
        height: 54px;
    }
    .banner-1-button{
        width: 352px;
        /* height: 54px; */
        margin: 0 auto;
        margin: 100px 20px 0px 35px;
    }
    .banner-1-image{
        width: 90%;
        margin-left: 40px;
    }
    .banner-1-image img{
        width: 90%;
        /* padding-bottom: 500px; */
        bottom: 100px;
        
    }
    .banner-1-inner-img1{
        width: 155px;
        height: 72px;
        top: -300px;
        left: 5px;
    }
    .banner-1-inner-img1 h5{
        width: 51px;
        height: 19px;
        font-size: 18.14px;
        font-weight: 900;
        margin: 15px 48px 5px 56px;

    }
    .banner-1-inner-img1 p{
        width: 82px;
        height: 19px;
        font-size: 12.1px;
        font-weight: 400;
        margin: 0px 17px 14px 56px;
    }
    .banner-1-inner-img2{
        width: 145px;
        height: 74px;
        left: 210px;
    }
    .banner-1-inner-img2 h4{
        width: 88px;
        height: 31px;
        font-size: 30px;
        font-weight: 900;
        margin: 12px 39px 3px 18px;
    }
    .banner-1-inner-img2 p{
        width: 111px;
        height: 16px;
        font-size: 9.83px;
        font-weight: 400;
        margin: 5px 16px 11px 18px ;
    }
    .banner-1-radius{
        width: 35px;
        height: 35px;
        top: -55px;
        left: 15px;
    }

        .banner-2{
            width: 350px;
            height: 1398px;
            margin: 0 auto;
            margin-top: 50px;
        }

        .banner-2-div1{
            width: 335px;
            height: 124px;
        }
        .banner-2-div1 h3{
            font-size: 32px;
        }


        .banner-2-div2{
            display: flex;
            flex-direction: column;
            gap: 120px;
            text-align: center;
        }
        .bnr2-img-content{
            margin-left: 17px;
        }
        
        .banner-3{
            display: flex;
            flex-direction: column;
            width: 371px;
            /* height: 531px; */
            height: 500px;
            justify-content: center;
            margin: 0 auto;
        }
        .banner-3-div1{
            width: 287px;
            height: 264px;
            margin: 0 auto;
            margin-top: 10px;
            /* padding: 0; */
        }
        .banner-3-div1 h3{
            width: 287px;
            height: 76px;
            font-size: 32px;
        }
        .banner-3-div1 p{
            width: 287px;
            height: 86px;
            font-size: 14px;
            margin-top: 14px;
        }
        .banner-3-btn{
            margin: 0;
            width: 287px;
            height: 54px;
            margin-top: 13px;
        }

        .banner-3-div2 img{
            width: 287px;
            height: 170px;
        }

        .bmi{
            width: 353px;
            height: 124px;
            margin: 0 auto;
            margin-top: 20px;
        }
        .bmi h1{
            width: 236px;
            height: 38px;
            color: rgb(255, 255, 255);
            font-family: "Inter", sans-serif;
            font-size: 32px;
            font-weight: 900;

        }
        .bmi p{
            width: 353px;
            height: 72px;
            color: rgba(255, 255, 255, 0.5);
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        .bmi-calculator{
            width: 322px;
            height: 772px;
            flex-direction: column;
            /* justify-content: space-between; */
            margin: 0 auto;
            margin-top: 29px;
            
        }
        .bmi-calculator-div1{
            width: 310px;
            height: 216px;
            padding: 0;
            margin: 0;
            margin-left: 20px;
            
        }
        .bmi-chart{
            padding: 0;
        }
        .bmi-calculator-div1 h3{
            width: 167px;
            height: 19px;
            font-size: 16px;
            padding: 0;
            /* padding-bottom: 20px; */
        }
        .bmi-calculator-div2{
            width: 370px;
            height: 395px;
            margin: 0 auto;
            margin-left: 20px;
            gap: 0;
        }
        .bmi-calculator-div2 h3{
            width: 151px;
            height: 19px;
            font-size: 16px;
            padding: 0;
        }
        .bmi-calculator-div2 p{
            width: 346px;
            height: 72px;
            font-size: 14px;
        }

        .form-div{
            width: 170px;
            height: 48px;
        }
        .form-div1{
            width: 170px;
            height: 48px;
        }
        .se{
            margin-top: 12px;
            width: 360px;
            height: 48px;
        }
        .bmi-calculator-div2-btn{
            width: 224px;
            height: 54px;
        }
        .banner-4{
            width: 100%;
        }
        .banner-4-div1{
            width: 309px;
            height: 124px;
            margin: 0;
            margin: 66px 42px 37px 57px ;
        }

        .banner-4-div1 h1{
            width: 243px;
            height: 38px;
            font-size: 32px;
            padding: 0;
            padding: 0px 33px 14px 33px;
        }
        .banner-4-div1 p{
            width: 309px;
            height: 72px;
            font-size: 14px;
        }

        .banner-4-images{
            width: 353px;
            height: 1188px;
            grid-template-columns: repeat(1, 1fr);
            margin: 0 20px 37px 20px;
            
        }

        .banner-4-image-container, .banner-4-image-container3{
            display: none;
        }

        .footer{
            margin: 0;
            margin-top: 700px;
            width: 412px;
            height: 986px;
        }
        .footer-div1{
            width: 320px;
            height: 200px;
            margin-left: 10px;
        }
        .footer-div1 i{
            width: 256px;
            height: 84px;
            font-size: 70px;
            font-weight: 800;
        }
        .footer-div1 p{
            width: 317px;
            height: 96px;
            font-size: 14px;
            font-weight: 400;
        }
        .footer-div, .footer-2nd-div{
            flex-direction: column;
            gap: 0;
            margin: 0;
        }
        .footer-2nd-div{
            margin-top: 70px;
            margin-left: 15px;
            gap: 25px;
        }


        .footer-div2{
            width: 200px;
            height: 250px;
        }
        .footer-div2, .footer-div3, h4{
            font-size: 25px;
        }
        .footer-div2, .footer-div3, p{
            font-size: 23px;
        }
        .footer-div2 > ul{
            margin-top: 20px;
        }
        .footer-div3{
            width: 181px;
            height: 250px;
        }
        hr{
            width: 340px;
            margin: 0;
            margin-top: 590px;
            margin-left: 26px;
        }

        .footer-p p{
            width: 318px;
            height: 24px;
            margin-top: 50px;
            font-size: 18px;
            margin-right: 30px;
        }
}